article{
    h3 {
        &.primary {
            font-size: 24px;
        }
    }
    ul, ol {
        &.nlp {
            padding-left: 0px;
        }
        li {
            list-style-type: none;
            font-size: 16px;
            &:not(:last-child), &:not(.sub) {
                margin-bottom: 14px;
            }
            &.sub {
                margin-bottom: 0;
            }
            &.close{
                margin-bottom: 4px;
            }
            a {
                font-weight: 600;
                color: $links;
                &:visited {
                    color: $links;
                }
                &:hover, &:focus, &:active {
                    color: $links;
                }
            }
            ul {
                margin-top: 8px;
            }
        }
    }
    ul {
        li {
            &:before:not(.none){
                font-family: 'Material Icons';
                color: rgb(40,40,40);
                content: 'check';
                padding-right: 8px;
            }
            &.thumb{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'thumb_up';
                    padding-right: 8px;
                }
            }
            &.trending_up{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'trending_up';
                    padding-right: 8px;
                }
            }
            &.money_off{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'money_off';
                    padding-right: 8px;
                }
            }
            &.watch_later{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'watch_later';
                    padding-right: 8px;
                }
            }
            &.date_range{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'date_range';
                    padding-right: 8px;
                }
            }
            &.school{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'school';
                    padding-right: 8px;
                }
            }
            &.class{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'class';
                    padding-right: 8px;
                }
            }
            &.compare_arrows{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'compare_arrows';
                    padding-right: 8px;
                }
            }
            &.content_paste{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'content_paste';
                    padding-right: 8px;
                }
            }
            &.question_answer{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'question_answer';
                    padding-right: 8px;
                }
            }
            &.announcement{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'announcement';
                    padding-right: 8px;
                }
            }
            &.account_box{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'account_box';
                    padding-right: 8px;
                }
            }
            &.check{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'check';
                    padding-right: 8px;
                }
            }
            &.infographic {
                &:before {
                    width: 24px;
                    display: inline-block;
                }
            }
            &.infographic {
                &:before {
                    font-size: 20px !important;
                    color: hsl(214, 40%, 40%) !important;
                    vertical-align: middle;
                }
            }
            &.minor-button {
                padding: 0.35rem;
                border-radius: 0.25rem;
                background: $cta-bg;
                color: white !important;
                text-align: center;
                display: inline-block;
                vertical-align: middle;
                line-height: 20px;
                &:before{
                    display: none !important;
                }
                a {
                    color: white !important;
                    font-weight: 400;
                    text-decoration: none;
                }
            }
            ul {
                li {
                    &:before{
                        font-family: 'Material Icons';
                        color: rgb(40,40,40);
                        content: 'school';
                        padding-right: 8px;
                    }
                }
            }
        }
    }
    ol {
        li {
            &.enrollment {
                &:before {
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'assignment_turned_in';
                    padding-right: 8px;
                }
            }
            &.three {
                ul {
                    margin-top: 8px;
                    padding-left: 16px;
                    &.nlp {
                        @media screen and (max-width: 767px) {
                            padding-left: 0px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
    h3 + ul{
        padding-left: 0px;
    }
    h3 + ol {
        padding-left: 8px;
    }
    section{
        &.overflow_gradient {
            display: block;
            width: 100%;
            height: 8vh;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        }
    }   
}