div#fullpage {
    font-family: sans-serif;
    color: white;
    .section {
        text-align:center;
        overflow: hidden;
        background-size: cover !important;
        .slide {
            .boxedIn {
                color: black;
                position: relative;
                span {
                    position: absolute;
                    left: 0;
                    color: $cta-bg;
                    &.number{
                        color: rgba(106, 142, 169, .6);
                        font-size:  3 * $catchy-subline-size;
                        top: 0;
                        z-index: 5;
                    }
                    &.step-head {
                        color: rgba(106, 142, 169, .3);
                        bottom: 5rem;
                        left: -4rem;
                        font-size: 2.25 * $catchy-subline-size;
                        text-transform: lowercase;
                        -webkit-transform: rotate(-90deg);
                        -moz-transform: rotate(-90deg);
                        -ms-transform: rotate(-90deg);
                        -o-transform: rotate(-90deg);
                    }
                }
            }
        }
    }
    #section0 {
        overflow: hidden;
        .boxedIn {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 53vh;
            color: $rcgc_blue;
            border-radius: 50%;
            background: white;
            border-right: 0.75rem solid $rcgc_yellow;
            border-left: 0.75rem solid $rcgc_blue;
            border-top: 0.75rem solid $rcgc_blue;
            h1 {
                span{
                    &.jumbo{
                        color: $catchy;
                        font-size: 1.4975 * $catchy-subline-size;
                    }
                    &.md-jumbo{
                        color: $catchy-subline;
                        font-size: $catchy-subline-size;
                    }
                }
                margin-bottom: $catchy-subline-size / 2;
            }
            h2{
                color: $catchy-small;
                font-size: $catchy-subline-size / 2.5;
                margin-bottom: $catchy-subline-size / 2;
            }

            .cta{
                color: $cta-text;
                font-size: $catchy-subline-size / 2.15;
                padding: $catchy-subline-size / 1.75;
                border: none;
                border-radius: $catchy-subline-size / 9;
                background: $fab-button;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        #vidContainer{
            background: rgba(34, 40, 48, 0.75);
            width: 100%;
            height: 100%;
            z-index: 4;
            object-fit: cover;
            position: relative;
        }
        #myVideo{
            position: absolute;
            right: 0;
            bottom: 0;
            top:0;
            right:0;
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
            background-color: black;
            background-position: center center;
            background-size: contain;
            object-fit: cover;
            z-index:3;
        }
    }
    #section1 {
        background-image: url(https://ucarecdn.com/e06286fa-87d8-49fc-b3d0-439636e6b058/-/format/auto/-/progressive/yes/-/quality/lightest/);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -3;
        &::before{
            position: absolute;
            content: "";
            height: 100vh;
            width: 100vw;
            top: 0;
            left: 0;
            z-index: -2;
            background: linear-gradient(to bottom, rgba(95, 84, 50, 0.8), rgba(95, 84, 50, 0.8));
        }
    }
    #section2 {
        background-image: url(https://ucarecdn.com/1cd0a5a5-113d-44a8-8dd0-30a6814d4dfd/-/format/auto/-/progressive/yes/-/quality/lightest/);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -3;
        &::before{
            position: absolute;
            content: "";
            height: 100vh;
            width: 100vw;
            top: 0;
            left: 0;
            z-index: -2;
            background: linear-gradient(to bottom, rgba(34, 40, 48, 0.75), rgba(34, 40, 48, 0.75));
        }
    }
    #section3 {
        background-image: url(https://ucarecdn.com/f7a55338-ea7b-42c8-9cd5-4bd4d29cf0b9/-/format/auto/-/progressive/yes/-/quality/lightest/);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -3;
        &::before{
            position: absolute;
            content: "";
            height: 100vh;
            width: 100vw;
            top: 0;
            left: 0;
            z-index: -2;
            background: linear-gradient(to bottom, rgba(95, 84, 50, 0.8), rgba(95, 84, 50, 0.8));
        }
    }
    #section4 {
        background-image: url(https://ucarecdn.com/1cd0a5a5-113d-44a8-8dd0-30a6814d4dfd/-/format/auto/-/progressive/yes/-/quality/lightest/);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -3;
        &::before{
            position: absolute;
            content: "";
            height: 100vh;
            width: 100vw;
            top: 0;
            left: 0;
            z-index: -2;
            background: linear-gradient(to bottom, rgba(34, 40, 48, 0.75), rgba(34, 40, 48, 0.75));
        }
    }
    #section5 {
        background-image: url(https://ucarecdn.com/e06286fa-87d8-49fc-b3d0-439636e6b058/-/format/auto/-/progressive/yes/-/quality/lightest/);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -3;
        &::before{
            position: absolute;
            content: "";
            height: 100vh;
            width: 100vw;
            top: 0;
            left: 0;
            z-index: -2;
            background: linear-gradient(to bottom, rgba(95, 84, 50, 0.8), rgba(95, 84, 50, 0.8));
        }
    }
    div.layer {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 4;
        width: 100%;
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    .fp-tableCell {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .boxedIn {
            border-radius: 2px;
            @include shade(0.125);
            height: 50vh;
            background: rgba(255,255,255,0.9);
            width: 60vw;
               
            &:not(#seller){
                overflow-y: scroll;
                h2{
                    color: $catchy;
                    font-size: 2em;
                }
            }
            &:not(.videoBoxedIn){
                padding: 2rem;
                overflow-y: scroll;
            }  
            &.videoBoxedIn{
                overflow-y: hidden !important;
                @media screen and (min-width: 768px) {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }
            }
            iframe {
                &#tc-video {
                    width: 300px;
                    height: 160px;
                    @media screen and (max-width: 767px) {
                        width: 100%;
                        height: 42%;
                    }
                }
            }
        }
    }
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    opacity:0.1;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}