header {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 9999;
    height: 80px;
    .container{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0rem 1rem;
        .logo{
            width: 3.2 * $height;
            height: $height;
            display: inline-block;
            flex: 1;
        }
        h1{
            color: $font-color;
            font-size: 2em;
            font-weight: 400;
            margin-left: 4.5em;
            @media screen and (max-width: 1439px) {
                display: none;
            }
        }
        nav{
            display:flex;
            ul {
                list-style: none;
                display: flex;
                padding-left: 0;
                li {
                    a{
                        font-size: 1.25em;
                        color: $font-color;
                        font-weight: 400;
                        text-decoration: none;

                        &:active{
                            color: $font-color;
                        }
                        &:hover{
                            color: $font-color;
                            text-decoration: underline;
                        }
                        &:visited{
                            color: $font-color;
                        }
                        &.jsa {
                            cursor: pointer;
                        }
                    }
                    &:not(:nth-of-type(1)){
                        padding-left: 1em;
                        @media screen and (min-width: 1600px) {
                            padding-left: 2em;
                        }    
                    }
                    
                }
            }
        }
        @media screen and (min-width: 769px) {
            #hamburger {
                display: none;
            }
            nav.mbl{
                display: none;
            }
        }
    }
    &.bg{
        background-color: rgba(0, 47, 108, .96);
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23818387' fill-opacity='0.24' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
        box-shadow: 0rem 0.25rem 0.75rem rgba(0,0,0,0.08);
    }
    .transparent{
        background-color: rgba(0,47,108,0);
    }
    &+ section{
        &#pill {
            top: 80px;
            position: fixed;
            height: 60px;
            z-index: 9;
            background: rgba(0,0,0,0.5);
            margin-top: 6px;
            border-bottom-right-radius: 30px;
            padding: 0 30px 0 26px;
            border-top-right-radius: 30px;
            color: white;
            h1 {
                font-size: 20px;
            }
        }
    }
}