section{
  &.hero {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      height: auto;
      width: 100%;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
      &.portrait {
        width: 100%;
        height: auto;
      }
    }
  }
}
