article{
    &.mbl-padding{
        padding: 16px !important;
    }
    h3 {
        &.primary {
            font-size: 14px;
        }
    }
    ul, ol {
        li {
            &:not(.three) {
                list-style-type: none;
            }
            font-size: 14px;
            &:not(:last-child) {
                margin-bottom: 6px;
            }
            &.close{
                margin-bottom: 2px;
            }
            a {
                font-weight: 600;
                color: $links;
                &:visited {
                    color: $links;
                }
                &:hover, &:focus, &:active {
                    color: $links;
                }
            }
            ul {
                margin-top: 2px;
                padding-left: 8px;
            }
        }
    }
    ul {
        &.nbp-mob{
            margin-bottom: 0px;
        }
        li {
            &.thumb{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'thumb_up';
                    padding-right: 4px;
                }
            }
            &.trending_up{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'trending_up';
                    padding-right: 4px;
                }
            }
            &.money_off{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'money_off';
                    padding-right: 4px;
                }
            }
            &.watch_later{
                &:before{
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'watch_later';
                    padding-right: 4px;
                }
            }
            &:before{
                font-family: 'Material Icons';
                color: rgb(40,40,40);
                content: 'check';
                padding-right: 4px;
            }
        }
    }
    ol {
        li {
            &.enrollment {
                &:before {
                    font-family: 'Material Icons';
                    color: rgb(40,40,40);
                    content: 'assignment_turned_in';
                    padding-right: 4px;
                }
                ul {
                    margin-top: 2px;
                    padding-left: 4px;
                }
            }
        }
    }
    h3 + ul, p + ul{
        padding-left: 0px;
    }
    h3 + ol {
        padding-left: 2px;
    }    
}