div#fullpage{
    #steps{
        background: linear-gradient(to bottom, rgba(234,170,0,0.6), rgba(234,170,0,0.6)), url(https://ucarecdn.com/e06286fa-87d8-49fc-b3d0-439636e6b058/-/crop/768x1067/350,0/-/scale_crop/414x736/-/progressive/yes/-/quality/lightest/) !important;
        background-size: contain;
    }
    #about {
        background: linear-gradient(to bottom, rgba(0,47,108,0.6), rgba(0,47,108,0.6)), url(https://ucarecdn.com/1cd0a5a5-113d-44a8-8dd0-30a6814d4dfd/-/crop/768x1067/500,0/-/scale_crop/414x736/-/progressive/yes/-/quality/lightest/) !important;
        background-size: contain;
    }
}
.active{
   .fp-controlArrow {
        &.fp-prev {
            border-width: 24.5px 20px 24.5px 0;
            border-color: transparent rgba(212, 212, 212, 0.75) transparent transparent;
        }
        &.fp-next {
            border-width: 24.5px 0 24.5px 20px;
            border-color: transparent transparent transparent rgba(212, 212, 212, 0.75);
        }
    }
    div#fullpage & .slide {
        .boxedIn {
            color: black;
            position: relative;
            span {
                position: absolute;
                left: 0;
                color: $cta-bg;
                &.number{
                    color: rgba(106, 142, 169, .4);
                    font-size:  4 * $mbl_catchy_ss;
                    top: 0;
                    z-index: 5;
                }
                &.step-head {
                    color: rgba(106, 142, 169, .1);
                    bottom: 2rem;
                    left: -3rem;
                    font-size: 5.5 * $mbl_catchy_ss;
                    text-transform: lowercase;
                    -webkit-transform: rotate(-90deg);
                    -moz-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    -o-transform: rotate(-90deg);
                }
            }
        }
    } 
}
