header {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 9999;
    height: $height;
    .container{
        display: flex;
        height: $height;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 1rem;
        .logoContainer {
            flex: 1;
            .logo{
                width: 5.57 * ($height / 2);
                height: ($height / 2);
                display: inline-block;
                flex: 1;
            }
        }
        
        h1{
            color: $font-color;
            margin-left: 4.5em;
        }
        nav:not(.mbl){
            display:none;
        }
        nav.mbl {
           i{
                font-family: "Material Icons";
                color: white;
           }
        }
    }
    &.mbl-bg{
        background-color: $rcgc_blue;
        box-shadow: 0rem 0.25rem 0.75rem rgba(0,0,0,0.08);
    }
    .transparent{
        background-color: rgba(0,47,108,0);
    }
    
}