header {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 9999;
    height: ($height - 20px);
    .container{
        display: flex;
        height: ($height - 20px);
        align-items: center;
        justify-content: space-between;
        padding: 0rem 1rem;
        .logoContainer {
            flex: 1;
            .logo{
                width: 3.2 * ($height - 20px);
                height: ($height - 20px);
                display: inline-block;
                flex: 1;
            }
        }
        
        h1{
            color: $font-color;
            margin-left: 4.5em;
        }
        nav:not(.mbl){
            top: -185px;
            left: 0;
            width: 100%;
            display:block;
            position: absolute;
            transition: all ease;
            background-color: #002f6c;
            background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23818387' fill-opacity='0.04' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
            &.open {
                top: 45px;
            }
            ul {
                list-style: none;
                display: block;
                li {
                    padding: 6px;
                    &:hover, &:focus {
                        background: rgba(255,255,255,0.02);
                    }
                }
            }
        }
        nav.mbl {
           i{
                font-family: "Material Icons";
                color: white;
           }
        }
    }
    &.mbl-bg{
        background-color: $rcgc_blue;
        box-shadow: 0rem 0.25rem 0.75rem rgba(0,0,0,0.08);
    }
    .transparent{
        background-color: rgba(0,47,108,0);
    }
    &+ section{
        &#pill {
            display: none;
        }
    }
}