div#fullpage {
    #section0 {
        overflow: hidden;
        .boxedIn {
            min-width: 30vh;
            min-height: 30vh;
            max-width: 35vh;
            max-height: 35vh;
            h1 {
                span{
                    &.jumbo{
                        color: $catchy;
                        font-size: 2.65 * $mbl_catchy_ss;
                    }
                    &.md-jumbo{
                        color: $catchy-subline;
                        font-size: 1.35 * $mbl_catchy_ss;
                    }
                }
                margin-bottom: $mbl_catchy_ss / 4;
            }
            h2{
                color: $catchy-small;
                font-size: $mbl_catchy_ss * 0.95;
                margin-bottom: $mbl_catchy_ss / 3;
            }

            .cta{
                color: $cta-text;
                font-size: $mbl_catchy_ss;
                padding: $mbl_catchy_ss * 1.5;
                line-height: $mbl_catchy_ss - 1;
                border: none;
                border-radius: $mbl_catchy_ss / 5;
                background: $fab-button;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 0.5rem;
            }
        }
    }
}