#fp-nav.right {
    ul {
        li {
            a {
                span {
                    background-color: white;
                    box-shadow: 0rem 0.125rem 0.25rem rgba(0,0,0,0.08);
                }
            }
            .fp-tooltip {
                background: rgba(0,0,0,0.5);
                padding: 0.25rem;
                border-radius: 0.125rem;
            }
        }
    }
}