@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$rcgc_blue: #002f6c;
$rcgc_grey_accent: #98a1ad;
$rcgc_yellow: #eaaa00;
$height: 58px;
$font-family: 'Open Sans', sans-serif;
$font-color: white;
$font-size: 16px;

/* Header Styles for CTA */
$catchy-subline-size: 3rem;
$mbl_catchy_ss: $catchy-subline-size/3;
$catchy: #005496;
$catchy-subline: #F0961E;
$catchy-small: #4e5c67;
$cta-bg: #3c729a;
$cta-text: #E7EFF5;
$dark_slate_grey: #2F4856;

@mixin shade($strength) {
    box-shadow: 0rem 0.5rem 0.75rem rgba(0,0,0,$strength);
}

@import 'base';
@import 'navdots';
@import 'dt_arrows';
@import 'header';
@import 'fullpage';
@import 'mobile';